.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 5px 12px 4px rgba(98,150,227,1);
  background-color: #f7fdff;
  border: 3px solid #bfdaff;
  border-radius: 10px;
  color: #fff;
}

.wrapper {
  width: fit-content;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #bfdaff;
  font-size: 46px;
}