.item {
  color: #333;
  display: flex;
  align-items: center;
}

.done {
  color: #999;
  text-decoration: line-through;
}

.trashcan {
  margin-left: 10%;
  color: plum;
  background: rebeccapurple;
  width: 300px;
}